@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&family=Roboto:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  text-decoration: none;
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

.content-container h2 {
  margin: 10px 0;
}

h3 {
  font-size: 25px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #1c75ba;
}
#logo {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 300px;
}
.sign {
  margin-top: 15px;
  margin-bottom: 15px;
}
#sign-img {
  width: 100%;
  max-width: 140px;
}
.main-body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.image img {
  width: 100%;
  height: auto;
}

.content-container {
  padding: 32px 32px 0 32px;
}

.content {
  margin-top: 15px;
}

.content p {
  margin-bottom: 15px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
}

.sign h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

hr {
  width: 100%;
  border: 1px solid rgb(76, 76, 76);
  margin-bottom: 20px;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  color: #1c75ba;
  width: 50%;
}

.footer ul li {
  /* list-style: none; */
  display: flex;
}

.footer img {
  margin-left: 6px;
  width: 28px;
}

.website-link {
  margin: 30px 0;
  letter-spacing: 4px;
}

@media screen and (max-width: 768px) {
  #logo {
    max-width: 250px;
  }
  h1 {
    font-size: 36px;
    font-weight: 700;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 21px;
  }
  .content-container h2 {
    margin: 5px 0px;
  }
  .grid {
    display: block;
  }
  .image img {
    width: 30%;
    float: left;
    margin-right: 30px;
  }
  .content-container {
    width: 90%;
  }
}

@media screen and (max-width: 486px) {
  #logo {
    max-width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 13px;
  }
  .content p {
    line-height: 24px;
    font-size: 14px;
  }
  .content {
    margin-top: 20px;
  }
}

@media screen and (max-width: 248px) {
  #logo {
    max-width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 15px;
    font-weight: 700;
  }
  h2 {
    font-size: 13px;
  }
  h3 {
    font-size: 11px;
  }
  .content p {
    line-height: 20px;
    font-size: 10px;
  }
  .content {
    margin-top: 16px;
  }
}
